* {
    font-family:  "Montserrat";
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 32px;
    background-color: #75a2d1;
}

#header {
    display: block;
    justify-content: space-between;
    overflow: hidden;
}

h3 {
    color: white;
    margin-left: 80px;
}


a {
    float: right;
    margin: -40px 16px 32px 0;
    padding-right: 64px;
    font-weight: 600;
}

#cover-img {
    margin-left: 128px;
    width: 80%;
    height: 30%;
    background-size: cover;
}

a:link {
    color:white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color:crimson;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: crimson;
    background-color: transparent;
    text-decoration: underline;
}

h2 {
    margin: 0 auto;
    text-align: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
}

.rectangle {
  width: 100%;
  height: 400px;
  background-color: #000;
  padding: 8px;
  display: flex; /* Menambahkan flex */
  overflow: hidden;
}

#rec1 {
    background-color: rgb(176, 17, 17);
}

#cr1 {
    background-color: rgb(176, 17, 17);
}

#tr1 {
    background-color: rgb(176, 17, 17);
}

#br1{
    background-color: rgb(176, 17, 17);
}

#img1 {
    background-color: rgb(176, 17, 17);
}

/* RECTANGLE 2 */
#rec2 {
    background-color: rgb(176, 168, 17);
}

#cr2 {
    background-color: rgb(176, 168, 17);
}

#tr2 {
    background-color: rgb(176, 168, 17);
}

#br2 { 
    background-color: rgb(176, 168, 17);
}

#img2 {
    background-color: rgb(176, 168, 17);
}

/* RECTANGLE 3 */

#rec3 {
    background-color: rgb(17, 176, 102);
}

#cr3 {
    background-color: rgb(17, 176, 102);
}

#tr3 {
    background-color: rgb(17, 176, 102);
}

#br3 { 
    background-color: rgb(17, 176, 102);
}

#img3 {
    background-color: rgb(17, 176, 102)
}

.left {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content-right {
  width: 70%;
  height: 100%; /* Memastikan tinggi 100% untuk keselarasan */
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

/* Bagian judul (top-right) */
.top-right {
  height: 30%;
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 8px;
}

.title h3 {
  font-size: 64px;
  color: white;
  margin: auto;
  margin-bottom: 0;
}

/* Bagian deskripsi (bottom-right) */
.bottom-right {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Memastikan konten berada di kiri dan tombol di kanan */
  background-color: #444;
  padding: 8px;
}

.text-content p {
  color: white;
  text-align: left;
  font-size: 18px;
  margin-left: 5px;
  margin-top: -128px;
  font-weight: 400px;
  
}

.buy-button {
    width: auto;
    height: auto;
    background-color: white;
    color: black;
    border: 3px solid #FFC108;
    border-radius: 3px;
    font-size: 16px; /* Mengatur ukuran font tombol */
    cursor: pointer;
    margin-right: 8px; /* Memberi jarak antara tombol dan teks */
    position: relative;
    right: 860px;
    top: -40px;
    padding: 4px;
  }
  